.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
padding: 10px;
}

.dialogsItems .active {
    color: #c25975;
}

 .messages {
padding: 10px;
 }

 .messages .message {
 }